:root {
    --main-color: #9356dc;
    --second-color: #ff79da;
    --green-color: #99e2d0;
 }

button {
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    border: none;
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}